page-signup {
    .primary {
        color: white;
        // background: map-get($colors, primary);
        background: linear-gradient(to right, map-get($colors, primary), map-get($colors, primary-light));
    }
    ion-navbar .toolbar-background {
        background-color: transparent;
    }
    .back-button {
        color: white;
    }
    .loginWrapper {
        padding-top: 4px;
    }
    .item-input .label-md {
        color: white;
    }
    .item-input-has-focus .label-md {
        color: map-get($colors, secondary) !important;
    }
    .item-input {
        background-color: transparent;
        color: white;
    }

    .item-md.item-block.item-input-has-focus .item-inner {
        border-bottom-color: map-get($colors, secondary);
    }

    .button {
        color: map-get($colors, secondary);
        border-color: map-get($colors, secondary);
    }
    #seperator, #signUp {
        flex: 1;
        text-align: center;
    }
    #signUp {
        color: map-get($colors, secondary);
    }
    .signupError p{
        color: map-get($colors, warning);
    }
}
